<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    {% include '_components/_seo.html.twig' %}

    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}" />

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% include '_components/_toasts.html.twig' %}

{% include 'app/_components/_navbar.html.twig' %}

{% block body %}{% endblock %}
</body>
</html>
