<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="fs-1">
                Our renting <span class="text-body-secondary">process</span>
            </h2>

            <div class="row g-5 py-5 row-cols-1 row-cols-lg-4">
                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary fs-1 mb-3">
                        <i class="bi bi-calendar-range"></i>
                    </div>

                    <h3 class="fs-4 text-body-emphasis">
                        Pick dates
                    </h3>

                    <p>
                        Choose the dates you need a hero for and we'll make sure they're available.
                    </p>
                </div>

                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary fs-1 mb-3">
                        <i class="bi bi-hand-index"></i>
                    </div>

                    <h3 class="fs-4 text-body-emphasis">
                        Choose a hero
                    </h3>

                    <p>
                        Browse our catalog of heroes and select the one that best fits your needs.
                    </p>
                </div>

                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary fs-1 mb-3">
                        <i class="bi bi-cart2"></i>
                    </div>

                    <h3 class="fs-4 text-body-emphasis">
                        Add to cart
                    </h3>

                    <p>
                        Add the hero to your cart and proceed to checkout to book them for your dates.
                    </p>
                </div>

                <div class="feature col">
                    <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary fs-1 mb-3">
                        <i class="bi bi-credit-card"></i>
                    </div>

                    <h3 class="fs-4 text-body-emphasis">
                        Checkout
                    </h3>

                    <p>
                        Complete the checkout process and your hero will be ready to save your day!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
