<section class="bg-body-secondary">
    <div class="container py-5 my-5">
        <div class="row py-5">
            <div class="pb-5 col-10 col-sm-8 col-lg-6">
                <h2 class="">
                    <span class="text-body-secondary">The best services</span> for your needs
                </h2>
            </div>

            <div class="pb-5 col-lg-6">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam assumenda delectus
                    dignissimos distinctio, dolor exercitationem inventore labore mollitia non optio pariatur
                    perferendis perspiciatis, recusandae sint ullam velit. Necessitatibus, tempore?
                </p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container mb-5 pb-5" style="margin-top: -150px;">
        <div class="row d-flex justify-content-center">
            <div class="mt-4 col-6 col-lg-3">
                <div class="bg-light shadow-sm text-center pt-4 pb-3 px-3">
                    <i class="bi bi-credit-card fs-1 text-primary"></i>

                    <h5 class="mt-1">Secured Payment</h5>

                    <p>
                        The payment process is secured and encrypted to ensure your data is safe.
                    </p>
                </div>
            </div>

            <div class=" mt-4 col-6 col-lg-3">
                <div class="bg-light shadow-sm text-center pt-4 pb-3 px-3">
                    <i class="bi bi-trophy fs-1 text-primary"></i>

                    <h5 class="mt-1">First class heroes</h5>

                    <p>
                        Our heroes are the best of the best, ready to tackle any challenge.
                    </p>
                </div>
            </div>

            <div class=" mt-4 col-6 col-lg-3">
                <div class="bg-light shadow-sm text-center pt-4 pb-3 px-3">
                    <i class="bi bi-headset fs-1 text-primary"></i>

                    <h5 class="mt-1">Help center &amp; Support</h5>

                    <p>
                        Our support team is available 24/7 to help you with any questions or issues.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
