{% extends 'security/base.html.twig' %}

{% block title %}{{ parent() }} – Forgot password{% endblock %}

{% block body %}
    <div class="w-75 m-auto">
        <div class="text-center">
            <h3 class="fw-normal mb-5">Forgot password</h3>

            <p class="fs-5 fw-light">
                If an account matches the e-mail address you have entered, you will receive an e-mail in a few moments
                with a link to reset your password.
            </p>

            <p class="fs-5 fw-light">
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle', 'en') }}
            </p>

            <p class="fs-5 fw-light">
                If you don't receive an e-mail, check your SPAM folder or
                <a href="{{ path('app_forgot-password') }}">try again in a few moments</a>
            </p>
        </div>
    </div>

{% endblock %}
