<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ app_name }}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap(['app', 'admin']) }}
        {% endblock %}
    {% endblock %}
</head>
<body>

{% include '_components/_toasts.html.twig' %}

<!-- Basic Instruction -->
<!-- You're dealing with two main views here. -->
<!-- One goes up to the 'lg' breakpoint, and the other starts from 'lg' and above.-->
<!-- On mobile, the sidebar content gets shifted into an offcanvas menu for easy access.-->
<!-- See https://ui.bootstrap.ninja/components/application/sidebar-layouts/ -->

<div class="d-flex overflow-hidden vh-100">
    <!-- Desktop Sidebar - Display from lg breakpoint, hide on smaller devices -->
    {% include 'admin/_components/_desktop-sidebar.html.twig' %}

    <!-- Header and Content -->
    <div class="container-fluid border-start-lg overflow-y-scroll">
        <!-- Mobile Header & Offcanvas -->
        {% include 'admin/_components/_mobile-sidebar.html.twig' %}

        <!-- Content -->
        <div class="row h-75">
            <div class="col-12 p-lg-4">
{#                <div class="lc-block mb-3">#}
{#                    <div>#}
{#                        <h1 class="fw-semibold ls-n2 fs-4 text-black">Dashboard</h1>#}
{#                    </div>#}
{#                </div>#}

                <!-- Dummy Content - Replace it -->
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>
