{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} – Category {{ category }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Edit Category</h1>

            <div class="d-flex justify-content-between align-items-center my-3">
                <div>
                    <a class="btn btn-outline-primary" href="{{ path('app_admin_category_index') }}" hx-boost="true">Back to list</a>
                </div>

                <div></div>
            </div>

            {{ include('admin/category/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
