<a href="{{ url|default('#') }}"
   style="display:inline-block ; background:#3E97FF ; color:#ffffff ; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif ;
          font-size:16px ; font-weight:bold ; line-height:120% ; /*margin:0*/ ; text-decoration:none ; text-transform:none ;
          padding:10px 25px ; mso-padding-alt:0px ; border-radius:0.65rem ; margin: 5px 10px ;"
   target="_blank">
    {{ text|default('') }}
</a>